.business-card{
    width: 5.8cm;
    height: 8.8cm;
    z-index: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 66%;
    background-color: #3f3f3f;
    z-index: 1;
}

.banner-text {
    margin: 0 auto;
    padding: 0;
    top: 20%;
    text-align: center;
    text-shadow: 3px 3px 5px #272727;
    color: white;
    z-index: 1;
    position: relative;
}

.background-text{
    padding: 0.3cm;
    word-break: break-all;
    text-align: left;
    font-size: 1em;
    color: #696969;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
}

.arrow {
    border-color: transparent white;
    border-style: solid;
    border-width: 0.75cm 2.95cm 0; /* the first value is the height of the triangles, the second is half the width of the parent container */
    position: absolute;
    bottom: 0;
    transition: border-top-width 2s;
}

h2{
    padding: 1rem 0 0 0;
    margin:0;
}

.contact-details {
    width: 100%;
    height: 34%;
    padding: 0.2rem 0.5rem 0.3cm 0.5rem;
    line-height: 2rem;
    font-size: 13px;
    text-shadow: 3px 3px 10px #515151;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
    z-index: 10;
}
.qr {
    height: 100%;
    border: solid 1px black;
}