:root {
  --color-primary: black;
  --color-secondary: #373737;
  --color-highlight: #585858;
  --color-background: white;
  --color-background-secondary: #dbdbdb;
  --color-shadow: #272727;

  --breakpoint-medium: 1000px;
}
